$dark-red: #be2426;
$chat-gray: #ebe9ff;
$gray-text: #545454;
$blue-200: #3d3a7f;
$blue-343: #343268;
$blue-9c9: #9c9ad4;
$blue-hover: #6e6eff;
$gray-666: #666666;
$gray-6d6d: #6d6d6d;
$red-e71010: #e71010;
$gray-ebe9ff: #ebe9ff;
$gray-c6c6c6: #c6c6c6;
$gray-eaeaea: #eaeaea;
$gray-8e8: #8e8e8e;
$orange-f0a: #f0a27a;
$gray-efe: #efefef;
$purple-464: #464295;
$blue-7e7: #7e7da3;
$blue-514: #514e8f;